<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DEMO SOCKETIO</title>
</head>
<body>
    <header>

    </header>
    <div class="content-main">
        <div class="body">

        </div>
    </div>
    <footer>

    </footer>
</body>
</html>